 https:es.wikipedia.org/wiki/Anexo:D%C3%ADas_festivos_en_Colombia


 ***CATEGORIA 1***   FECHA FIJA
 No necesita calculo
 Año Nuevo -------------------------------- 1 de enero
 Día del trabajo -------------------------- 1 de mayo
 Día de la independencia ----------------- 20 de julio
 Batalla de Boyacá ------------------------ 7 de agosto
 Inmaculada concepción -------------------- 8 de diciembre
 Navidad --------------------------------- 25 de diciembre


 ***CATEGORIA 2***   SEGUN PASCUA      domingo inmediatamente posterior a la primera luna llena 
después del equinoccio de marzo
no antes del 22 de marzo y el 25 de abril como muy tarde.
 Se calculan sumando o restando días respecto a la fecha de celebración del Domingo de Pascua
 Jueves Santo ----------------------------- pascua  -3 dias
 Viernes Santo ---------------------------- pascua  -2 dias
 Ascención de Jesús ----------------------- pascua +43 dias
 Corpus Christi  -------------------------- pascua +64 dias
 Sagrado corazón de Jesús ----------------- pascua +71 dias


 ***CATEGORIA 3***   FECHA TRASLADABLE     
 si la fecha base no es lunes, se traslada al siguiente lunes
 Epifanía del señor (reyes magos)---------- 6 de enero
 Día de San José ------------------------- 19 de marzo
 San Pedro y San Pablo ------------------- 29 de junio
 Asunción de la Virgen ------------------- 15 de agosto
 Día de la raza -------------------------- 12 de octubre
 Todos los santos ------------------------- 1 de noviembre
 Independencia de Cartagena -------------- 11 de noviembre

